In [1]:
from fairness.matching import compute
from fairness.pre_processing import categorical_to_numeric_converter
from fairness.pre_processing import remove_columns_from_dataset
from fairness.pre_processing import fix_protected_attributes
import pandas as pd

In [2]:
dataset = pd.read_csv('./dataset/adult.data', sep=',')

In [3]:
dataset

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
columns_to_drop = [' 39']
protected_attributes = [' White', ' Never-married', ' Male']
output_column = ' <=50K'

In [5]:
fair_dataset = compute(dataset, protected_attributes, output_column, columns_to_drop)

        Attribute  Disparate Impact
0           White          0.596327
1   Never-married          7.151484
2            Male          0.358006
1
Begun returning apriori dataset format
Finished on returning apriori dataset format
Begun association rule mining
Finished association rule mining
                                              Antecedent  \
0                                                     []
1                                                     []
2                                                     []
3                                                     []
4                                             [ 13 = 10]
...                                                  ...
10797  [ 13 = 9,  Male = 1,  Bachelors = 11,  Not-in-...
10798  [ 13 = 9,  Bachelors = 11,  Not-in-family = 0,...
10799  [ 13 = 9,  Male = 1,  Not-in-family = 0,  Unit...
10800  [ 13 = 9,  Male = 1,  Bachelors = 11,  Not-in-...
10801  [ Male = 1,  Bachelors = 11,  Not-in-family = ...

                  Consequent  Confidence
0                   [ 0 = 0]    0.953348
1                [ 2174 = 0]    0.916738
2      [ United-States = 39]    0.895854
3               [ White = 1]    0.854269
4                   [ 0 = 0]    0.960911
...                      ...         ...
10797   [ Never-married = 0]    1.000000
10798            [ Male = 1]    0.999702
10799      [ Bachelors = 11]    1.000000
10800            [ 2174 = 0]    0.910894
10801              [ 13 = 9]    1.000000

[10802 rows x 3 columns]
  Attribute  Disparate Impact
0     White          0.596327
1      Male          0.358006
2
Begun returning apriori dataset format
Finished on returning apriori dataset format
Begun association rule mining
Finished association rule mining
                                             Antecedent  \
0                                                    []
1                                                    []
2                                                    []
3                                                    []
4                                            [ 13 = 10]
...                                                 ...
5241  [ 13 = 9,  Male = 1,  Bachelors = 11,  White =...
5242  [ 13 = 9,  Male = 1,  United-States = 39,  Whi...
5243  [ 13 = 9,  Male = 1,  Bachelors = 11,  United-...
5244  [ Male = 1,  Bachelors = 11,  United-States = ...
5245  [ 13 = 9,  Male = 1,  Bachelors = 11,  United-...

                 Consequent  Confidence
0                  [ 0 = 0]    0.953348
1               [ 2174 = 0]    0.916738
2     [ United-States = 39]    0.895854
3              [ White = 1]    0.854269
4                  [ 0 = 0]    0.960911
...                     ...         ...
5241  [ United-States = 39]    0.939228
5242      [ Bachelors = 11]    1.000000
5243            [ 2174 = 0]    0.926991
5244              [ 13 = 9]    1.000000
5245               [ 0 = 0]    0.954925

[5246 rows x 3 columns]
  Attribute  Disparate Impact
0     White          0.596327
1      Male          0.358006
3
Begun returning apriori dataset format
Finished on returning apriori dataset format
Begun association rule mining
Finished association rule mining
                                             Antecedent           Consequent  \
0                                                    []             [ 0 = 0]
1                                                    []          [ 2174 = 0]
2                                                    []         [ White = 1]
3                                            [ 13 = 10]             [ 0 = 0]
4                                            [ 13 = 13]             [ 0 = 0]
...                                                 ...                  ...
1897  [ Male = 1,  Not-in-family = 0,  White = 1,  S...  [ 0 = 0,  2174 = 0]
1898  [ Male = 1,  Not-in-family = 0,  2174 = 0,  St...         [ White = 1]
1899  [ Not-in-family = 0,  White = 1,  2174 = 0,  S...          [ Male = 1]
1900  [ Male = 1,  Not-in-family = 0,  White = 1,  S...          [ 2174 = 0]
1901  [ Male = 1,  Not-in-family = 0,  White = 1,  2...             [ 0 = 0]

      Confidence
0       0.953348
1       0.916738
2       0.854269
3       0.960911
4       0.936870
...          ...
1897    0.849702
1898    0.876269
1899    0.999695
1900    0.894924
1901    0.943869

[1902 rows x 3 columns]
  Attribute  Disparate Impact
0      Male          0.358006
4
Begun returning apriori dataset format
Finished on returning apriori dataset format
Begun association rule mining
Finished association rule mining
                                            Antecedent           Consequent  \
0                                                   []             [ 0 = 0]
1                                                   []          [ 2174 = 0]
2                                           [ 13 = 10]             [ 0 = 0]
3                                           [ 13 = 13]             [ 0 = 0]
4                                            [ 13 = 9]             [ 0 = 0]
..                                                 ...                  ...
701  [ State-gov = 4,  Not-in-family = 0,  2174 = 0...  [ 0 = 0,  Male = 1]
702  [ State-gov = 4,  Male = 1,  40 = 40,  Not-in-...  [ 0 = 0,  2174 = 0]
703  [ Not-in-family = 0,  2174 = 0,  State-gov = 4...          [ Male = 1]
704  [ Male = 1,  Not-in-family = 0,  State-gov = 4...          [ 2174 = 0]
705  [ Male = 1,  Not-in-family = 0,  2174 = 0,  St...             [ 0 = 0]

     Confidence
0      0.953348
1      0.916738
2      0.960911
3      0.936870
4      0.961623
..          ...
701    0.942807
702    0.849489
703    0.999733
704    0.895430
705    0.943044

[706 rows x 3 columns]
  Attribute  Disparate Impact
0      Male          0.358006
5
Begun returning apriori dataset format
Finished on returning apriori dataset format
Begun association rule mining
Finished association rule mining
                                            Antecedent         Consequent  \
0                                                   []           [ 0 = 0]
1                                                   []        [ 2174 = 0]
2                                           [ 13 = 10]           [ 0 = 0]
3                                           [ 13 = 13]           [ 0 = 0]
4                                            [ 13 = 9]           [ 0 = 0]
..                                                 ...                ...
477  [ State-gov = 4,  Male = 1,  2174 = 0,  Bachel...  [ 13 = 9,  0 = 0]
478  [ 13 = 9,  Male = 1,  2174 = 0,  State-gov = 4...  [ Bachelors = 11]
479  [ 13 = 9,  Male = 1,  Bachelors = 11,  State-g...        [ 2174 = 0]
480  [ Male = 1,  Bachelors = 11,  2174 = 0,  State...          [ 13 = 9]
481  [ 13 = 9,  Male = 1,  Bachelors = 11,  2174 = ...           [ 0 = 0]

     Confidence
0      0.953348
1      0.916738
2      0.960911
3      0.936870
4      0.961623
..          ...
477    0.958784
478    1.000000
479    0.928442
480    1.000000
481    0.958784

[482 rows x 3 columns]
  Attribute  Disparate Impact
0      Male          0.358006
6
Begun returning apriori dataset format
Finished on returning apriori dataset format
Begun association rule mining
Finished association rule mining
                                            Antecedent         Consequent  \
0                                                   []           [ 0 = 0]
1                                                   []        [ 2174 = 0]
2                                           [ 13 = 10]           [ 0 = 0]
3                                           [ 13 = 13]           [ 0 = 0]
4                                            [ 13 = 9]           [ 0 = 0]
..                                                 ...                ...
445  [ State-gov = 4,  Male = 1,  2174 = 0,  Bachel...  [ 13 = 9,  0 = 0]
446  [ 13 = 9,  Male = 1,  2174 = 0,  State-gov = 4...  [ Bachelors = 11]
447  [ 13 = 9,  Male = 1,  Bachelors = 11,  State-g...        [ 2174 = 0]
448  [ Male = 1,  Bachelors = 11,  2174 = 0,  State...          [ 13 = 9]
449  [ 13 = 9,  Male = 1,  Bachelors = 11,  2174 = ...           [ 0 = 0]

     Confidence
0      0.953348
1      0.916738
2      0.960911
3      0.936870
4      0.961623
..          ...
445    0.958784
446    1.000000
447    0.928442
448    1.000000
449    0.958784

[450 rows x 3 columns]

c:\Users\anton\Desktop\fair-by-design\fairness\proxy\proxy_processing\__init__.py:26: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  {'Antecedent': pd.Series(sensitive_antecedent), 'Consequent': pd.Series(sensitive_consequent)})

In [6]:
if fair_dataset.equals(dataset):
    print('Failed!')

In [7]:
fair_dataset

,39,State-gov,77516,Bachelors,13,Adm-clerical,Not-in-family,2174,0,40,United-States,<=50K
0,50,6,83311,9,13,4,0,0,0,13,39,0
1,38,4,215646,11,9,6,1,0,0,40,39,0
2,53,4,234721,1,7,6,0,0,0,40,39,0
3,28,4,338409,9,13,10,5,0,0,40,5,0
4,37,4,284582,12,14,4,5,0,0,40,39,0
...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,4,257302,7,12,13,5,0,0,38,39,0
32556,40,4,154374,11,9,7,0,0,0,40,39,1
32557,58,4,151910,11,9,1,4,0,0,40,39,0
32558,22,4,201490,11,9,1,3,0,0,20,39,0
32559,52,5,287927,11,9,4,5,15024,0,40,39,1