In [1]:
from fairness.matching import compute
import pandas as pd
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error
from sklearn.tree import DecisionTreeClassifier
import numpy as np
import xgboost as xgb
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv('./dataset/student.csv', sep=';')

In [3]:
dataset.drop(columns=['STUDENT ID', 'COURSE ID'], inplace=True)

In [4]:
dataset

,1,2,3,4,5,6,7,8,9,10,...,22,23,24,25,26,27,28,29,30,GRADE
0,2,2,3,3,1,2,2,1,1,1,...,1,1,1,3,2,1,2,1,1,1
1,2,2,3,3,1,2,2,1,1,1,...,1,1,1,3,2,3,2,2,3,1
2,2,2,2,3,2,2,2,2,4,2,...,1,1,1,2,2,1,1,2,2,1
3,1,1,1,3,1,2,1,2,1,2,...,1,1,2,3,2,2,1,3,2,1
4,2,2,1,3,2,2,1,3,1,4,...,1,2,1,2,2,2,1,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,2,1,2,3,1,1,2,1,1,2,...,1,1,1,2,1,2,1,3,3,5
141,1,1,2,4,2,2,2,1,4,2,...,2,1,1,3,2,2,1,5,3,5
142,1,1,1,4,2,2,2,1,1,1,...,1,1,1,3,3,2,1,4,3,1
143,2,1,2,4,1,1,1,5,2,3,...,1,2,1,2,1,2,1,5,3,4
144,1,1,1,5,2,2,2,3,1,1,...,1,2,1,3,2,3,1,5,4,3

In [5]:
for column in dataset.columns:
    print(dataset[column].isna())

0      False
1      False
2      False
3      False
4      False
       ...
140    False
141    False
142    False
143    False
144    False
Name: 1, Length: 145, dtype: bool
0      False
1      False
2      False
3      False
4      False
       ...
140    False
141    False
142    False
143    False
144    False
Name: 2, Length: 145, dtype: bool
0      False
1      False
2      False
3      False
4      False
       ...
140    False
141    False
142    False
143    False
144    False
Name: 3, Length: 145, dtype: bool
0      False
1      False
2      False
3      False
4      False
       ...
140    False
141    False
142    False
143    False
144    False
Name: 4, Length: 145, dtype: bool
0      False
1      False
2      False
3      False
4      False
       ...
140    False
141    False
142    False
143    False
144    False
Name: 5, Length: 145, dtype: bool
0      False
1      False
2      False
3      False
4      False
       ...
140    False
141    False
142    False
143    False
144    False
Name: 6, Length: 145, dtype: bool
0      False
1      False
2      False
3      False
4      False
       ...
140    False
141    False
142    False
143    False
144    False
Name: 7, Length: 145, dtype: bool
0      False
1      False
2      False
3      False
4      False
       ...
140    False
141    False
142    False
143    False
144    False
Name: 8, Length: 145, dtype: bool
0      False
1      False
2      False
3      False
4      False
       ...
140    False
141    False
142    False
143    False
144    False
Name: 9, Length: 145, dtype: bool
0      False
1      False
2      False
3      False
4      False
       ...
140    False
141    False
142    False
143    False
144    False
Name: 10, Length: 145, dtype: bool
0      False
1      False
2      False
3      False
4      False
       ...
140    False
141    False
142    False
143    False
144    False
Name: 11, Length: 145, dtype: bool
0      False
1      False
2      False
3      False
4      False
       ...
140    False
141    False
142    False
143    False
144    False
Name: 12, Length: 145, dtype: bool
0      False
1      False
2      False
3      False
4      False
       ...
140    False
141    False
142    False
143    False
144    False
Name: 13, Length: 145, dtype: bool
0      False
1      False
2      False
3      False
4      False
       ...
140    False
141    False
142    False
143    False
144    False
Name: 14, Length: 145, dtype: bool
0      False
1      False
2      False
3      False
4      False
       ...
140    False
141    False
142    False
143    False
144    False
Name: 15, Length: 145, dtype: bool
0      False
1      False
2      False
3      False
4      False
       ...
140    False
141    False
142    False
143    False
144    False
Name: 16, Length: 145, dtype: bool
0      False
1      False
2      False
3      False
4      False
       ...
140    False
141    False
142    False
143    False
144    False
Name: 17, Length: 145, dtype: bool
0      False
1      False
2      False
3      False
4      False
       ...
140    False
141    False
142    False
143    False
144    False
Name: 18, Length: 145, dtype: bool
0      False
1      False
2      False
3      False
4      False
       ...
140    False
141    False
142    False
143    False
144    False
Name: 19, Length: 145, dtype: bool
0      False
1      False
2      False
3      False
4      False
       ...
140    False
141    False
142    False
143    False
144    False
Name: 20, Length: 145, dtype: bool
0      False
1      False
2      False
3      False
4      False
       ...
140    False
141    False
142    False
143    False
144    False
Name: 21, Length: 145, dtype: bool
0      False
1      False
2      False
3      False
4      False
       ...
140    False
141    False
142    False
143    False
144    False
Name: 22, Length: 145, dtype: bool
0      False
1      False
2      False
3      False
4      False
       ...
140    False
141    False
142    False
143    False
144    False
Name: 23, Length: 145, dtype: bool
0      False
1      False
2      False
3      False
4      False
       ...
140    False
141    False
142    False
143    False
144    False
Name: 24, Length: 145, dtype: bool
0      False
1      False
2      False
3      False
4      False
       ...
140    False
141    False
142    False
143    False
144    False
Name: 25, Length: 145, dtype: bool
0      False
1      False
2      False
3      False
4      False
       ...
140    False
141    False
142    False
143    False
144    False
Name: 26, Length: 145, dtype: bool
0      False
1      False
2      False
3      False
4      False
       ...
140    False
141    False
142    False
143    False
144    False
Name: 27, Length: 145, dtype: bool
0      False
1      False
2      False
3      False
4      False
       ...
140    False
141    False
142    False
143    False
144    False
Name: 28, Length: 145, dtype: bool
0      False
1      False
2      False
3      False
4      False
       ...
140    False
141    False
142    False
143    False
144    False
Name: 29, Length: 145, dtype: bool
0      False
1      False
2      False
3      False
4      False
       ...
140    False
141    False
142    False
143    False
144    False
Name: 30, Length: 145, dtype: bool
0      False
1      False
2      False
3      False
4      False
       ...
140    False
141    False
142    False
143    False
144    False
Name: GRADE, Length: 145, dtype: bool

In [6]:
output_column = "GRADE"

In [7]:
X = dataset.iloc[:,:len(dataset.columns) - 2]
y = dataset.loc[:, output_column:]

In [8]:
estimator = DecisionTreeClassifier()

parameters = {
    'max_depth': [2, 3, 5, 10, 20],
    'min_samples_leaf': [5, 10, 20, 50, 100],
    'criterion': ["gini", "entropy"]
}

In [9]:
grid_search = GridSearchCV(
    estimator=estimator,
    param_grid=parameters,
    n_jobs=10,
    cv=10,
    verbose=True
)

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
standard_scaler_train = StandardScaler()
X_train = standard_scaler_train.fit_transform(X_train)

standard_scaler_test = StandardScaler()
X_test = standard_scaler_test.fit_transform(X_test)

In [12]:
y

     GRADE
0        1
1        1
2        1
3        1
4        1
..     ...
140      5
141      5
142      1
143      4
144      3

[145 rows x 1 columns]

In [13]:
grid_search_classifier = grid_search.fit(X_train, y_train)

Fitting 10 folds for each of 50 candidates, totalling 500 fits

C:\Users\anton\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 4 members, which is less than n_splits=10.
  warnings.warn(

In [14]:
y_pred = grid_search_classifier.predict(X_test)

In [15]:
print(accuracy_score(y_test, y_pred))

0.20689655172413793

In [16]:
#cm_display = ConfusionMatrixDisplay(confusion_matrix(y_test, y_pred), display_labels=[False, True])
#cm_display.plot()
#plt.show()